header {
    background-color: yellowgreen;
    color: black;
    padding: 1px;
}

nav {
    margin: 1px;
    padding: 1px;
}

nav ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    overflow: hidden;
}

.menu-item-link:hover {
    background-color: aquamarine;
}

.menu-item {
    float: left;
    background-color: lightgray;
    color: black;
    display: inline-block;
}

.menu-item-link {
    text-decoration-line: none;
    padding: 10px;
    display: block;
}

body {
}
